@charset "utf-8";
/* CSS Document */
/* PC版 */
@media all and (min-width: 960px) {

	.main {
		width: 80%;
		margin: 0px  auto;
		margin-top: 20px;
		margin-bottom: 8px;
		display: grid;
		grid-template-columns: 20% 12px 80%;
		box-sizing: border-box;
	}

	/*
	左半边位置
	*/
	.data-left {
		float: left;
	}
	.itemize {
		width: 100%;
		background: #E5E5E5;
		border-radius: 5px 5px 0px 0px;
	}
	.data-text-img img{
		height: 26px;
		margin-top: 2px;
		float: left;
	}
	.data-text {
		width: 100%;
		height: 30px;
		line-height: 30px;
		padding-left: 5px;
		background: #B8A4A5;
		border-radius: 5px 5px 0px 0px;
		box-sizing: border-box;
		float: left;
	}
	.itemize a {
		width: 100%;
		height: 25px;
		line-height: 15px;
		box-sizing: border-box;
		clear: both;
		display: block;
		filter: alpha(opacity=50); /* IE8 及其更早版本 */
	}
	.itemize a .classify {
		width: 100%;
		height: 25px;
		line-height: 15px;
		padding: 5px 0px 5px 8px;
	}
	.itemize a .classify:hover {
		color: rgb(255, 186, 20);
		display: block;
	}
	.itemize a:nth-child(odd) {	
		background: #78B58B; /* 不支持线性的时候显示 */
		background: linear-gradient(to right, #78B58B , #DDDD00);
	}

	/*
	右半边位置
	*/
	.data-right {
		display: block;
		float: left;
	}
	.data-plate {
		width: 100%;
		padding: 10px 10px 5px 10px;
		margin-bottom: 12px;
		box-sizing: border-box;
		background: #E5E5E5;
		border-radius: 5px;
		float: left;
	}
	.data-plate p {
/*		padding: 0px 4px;*/
	}
	.line-left {
		width: 7px;
		height: 30px;
		margin-right: 3px;
		background: red;
		float: left;
	}
	.data-plate span {
		height: 30px;
		line-height: 30px;
		padding: 0px 5px;
		display: block;
		border-radius: 5px;
		font-weight: bold;
	}
	.more {
		float: right;
		margin-top: -30px;
		margin-right: 2px;
	}
	.more a:hover {
		color: rgb(255,186,20);
	}

	/*
	资料方块 
	*/
	.wrapper9 {
		display: grid;
		grid-template-columns: 33.3% 33.3% 33.3%;	/* grid-template-columns的n个值表示n列，相应的数值表示列宽即都为  px。 */
		grid-template-rows: 114px 114px 114px;					/* grid-template-rows的n个值表示n行，相应的数值表示行高即都为  px */
		box-sizing: border-box;
	}
	.wrapper6 {
		display: grid;
		grid-template-columns: 33.3% 33.3% 33.3%;
		grid-template-rows: 114px 114px;
		box-sizing: border-box;
	}
	.wrapper3 {
		display: grid;
		grid-template-columns: 33.3% 33.3% 33.3%;
		grid-template-rows: 114px;
		box-sizing: border-box;
	}
	
	/* 简述 */
	/* 文本溢出，省略号，3行 */
	.data-plate .informations  {
/*		height: 106px;*/
		padding: 0px 4px;
		border-radius: 5px;
		text-align: justify;
		box-sizing: border-box;
		display: -webkit-box;  
		overflow: hidden;  /* 溢出省略号（通配） */
		overflow: ellipsis;  /*溢出省略号，支持ie、safari（webkit）*/ 
		-o-text-overflow: ellipsis;  /*溢出省略号，支持opera*/ 
		text-overflow: ellipsis;
		word-wrap: break-word;
/*		white-space: inherit !important;*/
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}
	.data-plate .informations:hover {
		margin-top: -40px;
		margin-bottom: 5px;
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		word-wrap: break-word;
		white-space: normal !important;
		-webkit-line-clamp: 5;
		-webkit-box-orient: vertical;
		box-sizing: border-box;
		background: #FFFFFF;
		opacity: 0.7;
/*		height: 132px;	*/
		height: auto;
	}
	
	/*
	介绍文本
	*/
	/* 文本溢出，省略号，1行 */
	.informations .informations-title {
		font-size: 18px;
		height: auto;
		overflow: hidden;   /* 溢出省略号（通配） */
		overflow: ellipsis;  /* 溢出省略号，支持ie、safari（webkit） */
		-o-text-overflow: ellipsis;  /* 溢出省略号，支持opera */
		text-overflow: ellipsis;
		word-wrap: break-word;
		white-space: nowrap !important;
		-webkit-line-clamp: 1;
	}
	.data-plate-informations-line {
		width: inherit;
		margin: 0px auto;
		border: 0.5px solid gray;
		box-sizing: border-box;
	}
	
	/* 简述 */
	/* 文本溢出，省略号，3行 */
	.informations .informations-text-sketch {
		font-size: 17.2px;
	}
	
	/*1*/
	.information1 {
		background: #F7DB70;
		margin: 5px 5px 5px 0px;
	}
	.information2 {
		background: #FFDD94;
		margin: 5px;
	}
	.information3 {
		background: #D0E6A5;
		margin: 5px 0px 5px 5px;
	}
	/*2*/
	.information4 {
		background: #FA897B;
		margin: 5px 5px 5px 0px;
	}
	.information5 {
		background: #EE9C6C;
		margin: 5px;
	}
	.information6 {
		background: #CCABD8;
		margin: 5px 0px 5px 5px;
	}
	/*3*/
	.information7 {
		background: #75CCE8;
		margin: 5px 5px 5px 0px;
	}
	.information8 {
		background: #F2A7BE;
		margin: 5px;
	}
	.information9 {
		background: #F7DB70;
		margin: 5px 0px 5px 5px;
	}

}

/* 移动版 */
@media screen and (max-width: 959px) {

	.main {
		width: 100%;
		margin: 0px  auto;
		margin-top: 12px;
		margin-bottom: 12px;
	}

	/*
	左半边位置
	*/
	.data-left {
		display: none;
	}

	/*
	右半边位置
	*/
	.data-right {
		width: 100%;
		padding: 0px 10px;
		box-sizing: border-box;
		margin: 0px auto;
	}
	.data-plate {
		width: 100%;
		padding: 10px 10px 5px 10px;
		margin-bottom: 12px;
		box-sizing: border-box;
		background: #DFDFDF;
		border-radius: 5px;
	}
	.line-left {
		width: 7px;
		height: 30px;
		margin-right: 3px;
		background: red;
		float: left;
	}
	.data-plate span {
		height: 30px;
		line-height: 30px;
		padding: 0px 5px;
		display: block;
		border-radius: 5px;
		font-size: 16px !important;
		font-weight: bold !important;
	}
	.more {
		float: right;
		margin-top: -30px;
	}

	/*
	资料方块 
	*/
	.wrapper9 {
		display: grid;
		grid-template-columns: 33.3% 33.3% 33.3%;  /* grid-template-columns的n个值表示n列，相应的数值表示列宽即都为  px。 */
		grid-template-rows: 111px 111px 111px;     /* grid-template-rows的n个值表示n行，相应的数值表示行高即都为  px */
		box-sizing: border-box;
	}
	.wrapper6 {
		display: grid;
		grid-template-columns: 33.3% 33.3% 33.3%;
		grid-template-rows: 111px 111px;
		box-sizing: border-box;
	}
	.wrapper3 {
		display: grid;
		grid-template-columns: 33.3% 33.3% 33.3%;
		grid-template-rows: 111px;
		box-sizing: border-box;
	}
	
	/* 简述 */
	/* 文本溢出，省略号，3行 */
	.data-plate .informations  {
/*		height: 106px;*/
		padding: 0px 4px;
		border-radius: 5px;
		text-align: justify;
		box-sizing: border-box;
		display: -webkit-box;  
		overflow: hidden;  /* 溢出省略号（通配） */
		overflow: ellipsis;  /*溢出省略号，支持ie、safari（webkit）*/ 
		-o-text-overflow: ellipsis;  /*溢出省略号，支持opera*/ 
		text-overflow: ellipsis;
		word-wrap: break-word;
/*		white-space: inherit !important;*/
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}
	
	/*介绍文本*/
	/* 文本溢出，省略号，1行 */
	.informations .informations-title {
		font-size: 18px;
		height: auto;
		overflow: hidden;   /* 溢出省略号（通配） */
		overflow: ellipsis;  /* 溢出省略号，支持ie、safari（webkit） */
		-o-text-overflow: ellipsis;  /* 溢出省略号，支持opera */
		text-overflow: ellipsis;
		word-wrap: break-word;
		white-space: nowrap !important;
		-webkit-line-clamp: 1;
	}
	.data-plate-informations-line {
		width: inherit;
		margin: 0px auto;
		border: 0.5px solid gray;
	}
	
	/*1*/
	.information1 {
		background: #F7DB70;
		border-radius: 5px;
		margin: 5px 5px 5px 0px;
	}
	.information2 {
		background: #FFDD94;
		border-radius: 5px;
		margin: 5px;
	}
	.information3 {
		background: #D0E6A5;
		border-radius: 5px;
		margin: 5px 0px 5px 5px;
	}
	/*2*/
	.information4 {
		background: #FA897B;
		border-radius: 5px;
		margin: 5px 5px 5px 0px;
	}
	.information5 {
		background: #EE9C6C;
		border-radius: 5px;
		margin: 5px;
	}
	.information6 {
		background: #CCABD8;
		border-radius: 5px;
		margin: 5px 0px 5px 5px;
	}
	/*3*/
	.information7 {
		background: #75CCE8;
		border-radius: 5px;
		margin: 5px 5px 5px 0px;
	}
	.information8 {
		background: #F2A7BE;
		border-radius: 5px;
		margin: 5px;
	}
	.information9 {
		background: #F7DB70;
		border-radius: 5px;
		margin: 5px 0px 5px 5px;
	}
	

}
