@charset "utf-8";
/* CSS Document */
.main {
	width: 960px;
	margin: 0px auto;
}
h1, h2, h3 , h4, h5 {
	text-align: center;
}
h1 {
	
	font-size: 3em;
}
h2 {
	
	font-size: 2.6em;
}
h3 {
	
	font-size: 2.2em;
}
h4 {
	
	font-size: 1.8em;
}
h4 {
	
	font-size: 1.4em;
}

video {
	margin-top: 10px;
}
a {
	color: blue;
}
a:hover {
	color: rgb(255,186,20);
}
img {
	width: 100%;
}
.img {
	margin-top: 10px;
}
.img:nth-last-child(1) {
	margin-bottom: 10px;
}
@media screen and (max-width: 959px) {
	.main {
		width: 100%;
		margin: 0px auto;
	}
		h1, h2, h3 , h4, h5 {
		text-align: center;
		padding: 0px 12px;
	}
	h1 {

		font-size: 3em;
	}
	h2 {

		font-size: 2.6em;
	}
	h3 {

		font-size: 2.2em;
	}
	h4 {

		font-size: 1.8em;
	}
	h4 {

		font-size: 1.4em;
	}
	p {
		padding: 0px 12px;
	}
	video {
		margin-top: 10px;
	}
	p,a {
		padding: 0px 12px;
	}
	img {
		width: 100%;
	}
	.img {
		margin: 10px 12px;
	}
	.img:nth-last-child(1) {
		margin-bottom: 10px;
	}
	
}

