@charset "utf-8";
/* CSS Document */
/* GitHub stylesheet for MarkdownPad (http://markdownpad.com) */
/* Author: Nicolas Hery - http://nicolashery.com */
/* Version: b13fe65ca28d2e568c6ed5d7f06581183df8f2ff */
/* Source: https://github.com/nicolahery/markdownpad-github */

/* BODY
=============================================================================*/
 /* 第261行起，为我后期添加的样式 */
.article body {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  margin: 0 auto;
}

.article body>*:first-child {
  margin-top: 0 !important;
}

.article body>*:last-child {
  margin-bottom: 0 !important;
}

/* BLOCKS
=============================================================================*/

.article blockquote, ul, ol, dl, table, pre {
  margin: 15px 0;
}

/* HEADERS
=============================================================================*/

.article h1,.article  h2,.article  h3,.article  h4,.article  h5,.article  h6 {
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.article h1 tt.article ,.article  h1 code,.article  h2 tt,.article  h2 code,.article  h3 tt,.article  h3 code,.article  h4 tt,.article  h4 code,.article  h5 tt,.article  h5 code,.article  h6 tt,.article  h6 code {
  font-size: inherit;
}

.article h1 {
  font-size: 28px;
  color: #000;
}

.article h2 {
  font-size: 24px;
/*  border-bottom: 1px solid #ccc;*/
  color: #000;
}

.article h3 {
  font-size: 18px;
}

.article h4 {
  font-size: 16px;
}

.article h5 {
  font-size: 14px;
}

.article h6 {
  color: #777;
  font-size: 14px;
}

.article body>h2:first-child,.article  body>h1:first-child, .article body>h1:first-child+h2,.article  body>h3:first-child, .article body>h4:first-child,.article  body>h5:first-child,.article  body>h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

.article a:first-child h1,.article  a:first-child h2,.article  a:first-child h3,.article  a:first-child h4,.article  a:first-child h5,.article  a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}

.article h1+p,.article  h2+p,.article  h3+p,.article  h4+p,.article  h5+p, h6+p {
  margin-top: 10px;
}

.article ul,.article  ol {
  padding-left: 30px;
}

.article ul li > :first-child, 
.article ol li > :first-child, 
.article ul li ul:first-of-type, 
.article ol li ol:first-of-type, 
.article ul li ol:first-of-type, 
.article ol li ul:first-of-type {
  margin-top: 0px;
}

.article ul ul,.article  ul ol,.article  ol ol,.article  ol ul {
  margin-bottom: 0;
}

.article dl {
  padding: 0;
}

.article dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}

.article dl dt:first-child {
  padding: 0;
}

.article dl dt>:first-child {
  margin-top: 0px;
}

.article dl dt>:last-child {
  margin-bottom: 0px;
}

.article dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}

.article dl dd>:first-child {
  margin-top: 0px;
}

.article dl dd>:last-child {
  margin-bottom: 0px;
}

/* CODE
=============================================================================*/

.article pre,.article  code,.article  tt {
  font-size: 12px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

.article code,.article  tt {
  margin: 0 0px;
  padding: 0px 0px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}

.article pre>code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

.article pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

.article pre code,.article  pre tt {
  background-color: transparent;
  border: none;
}

.article kbd {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #DDDDDD;
    background-image: linear-gradient(#F1F1F1, #DDDDDD);
    background-repeat: repeat-x;
    border-color: #DDDDDD #CCCCCC #CCCCCC #DDDDDD;
    border-image: none;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 10px;
    padding: 1px 4px;
}

/* QUOTES
=============================================================================*/

.article blockquote {
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777;
}

.article blockquote>:first-child {
  margin-top: 0px;
}

.article blockquote>:last-child {
  margin-bottom: 0px;
}

/* HORIZONTAL RULES
=============================================================================*/

.article hr {
  clear: both;
  margin: 15px 0;
  height: 0px;
  overflow: hidden;
  border: none;
  background: transparent;
  border-bottom: 4px solid #ddd;
  padding: 0;
}

/* TABLES
=============================================================================*/

.article table {
	width: 100%;
}
.article table th {
  font-weight: bold;
}

.article table th, table td {
  border: 1px solid #ccc;
  padding: 6px 13px;
}

.article table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
}

.article table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

/* IMAGES
=============================================================================*/

.article img {
  max-width: 100%
}


/*后期添加*/
.article {
	text-align: justify;
}
.article button, .article input {    /* 初始化utton、input的默认样式为空 */
	background: none;  
	outline: none;  
	border: 0px;
}
.article a {
	direction: none;
	color: #4444F2;
}
.article .copyright-notice {
	text-align: left;
}
.article p {
	padding: 0px 0px 10px;
}
.article bold {
	font-weight: bold;
}
.article p img:nth-of-type(1) {
	margin: 10px 0px 20px;
}
.article p img:nth-child(1n+2) {
	margin: -18px 0px 20px;
}
.article pre {
	font-size: 17px;
}

.article iframe {
	width: 100%;
	height: 700px;
}
/* 
white-space: pre-wrap;
	word-wrap: break-word;
*/
.article button {
	background: #AFC56A;
	color: red; 
	border-radius: 5px;
	cursor: pointer; 
	padding: 0px 4px;
	text-align: center;
}
.article input {
	border: 1px gray solid;
	border-radius: 5px;
	padding: 0px 4px;
}












