@charset "utf-8";
/* CSS Document */
/*PC*/
@media screen and (min-width: 500px) {
	
	.header {
		width: 100%;
		height: 46px;
		font-weight: 550;
		background: #ffffff;
		box-shadow: 0px 2px 4px 0px rgba(0, 64, 128, .2);
	}

	.logo {
		width: 112px;
		height: 46px;
		margin-left: 20px;
		float: left;
	}
	.logo img {
		height: 100%;
	}
	.dropbtn {
		display: none;
	}
	.ul {
		width: auto;
		height: 46px;
		line-height: 46px;
		text-align: center; 
		padding: 0px 6px;
		display: block;
		float: left;
	}
	.ul:hover {
		color: rgb(255, 186, 20);
		display: block;
		background: #EBEBEB;
	}
	.ul>.nav-line {
		width: 70%;
		height: 4px;
		margin-top: -8.4px;
		position: relative;
		left: 15%;
	}
	.nav-line {
		float: left;
	}
	/*定义当前页面的导航栏的样式*/
	body.index .nav #index .nav-line,
	body.travel-index .nav #demo1 .nav-line,
	body.date-index .nav #demo2 .nav-line,
	body.build-index .nav #demo3 .nav-line,
	body.about-index .nav #demo4 .nav-line {
		border-bottom: 4px solid #F40505;
	}
	/*返回顶部按钮*/
	#myBtn {
		width: 32px;
		height: 32px;
		display: none;
		position: fixed;
		bottom: 150px;	
		right: 30px;
		z-index: 99;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 10px;
		border-radius: 50px;
		background: url(https://gitee.com/ZRX001/gallery/raw/master/gallery/back-top.png) no-repeat;
	}
	#myBtn:hover {
		background: url(https://gitee.com/ZRX001/gallery/raw/master/gallery/back-top-hover.png) no-repeat;
	}

	
	
}
	
/*Moblie*/
@media all and (max-width: 501px) {

	.header {
		width: 100%;
		height: 46px;
		font-weight: 550;
		background: #ffffff;
		box-shadow: 0px 2px 4px 0px rgba(0, 64, 128, .2);
	}

	.logo {
		width: 112px;
		height: 46px;
		margin-left: 5px;
		float: left;
	}
	.logo img {
		height: 100%;
	}

	#dropdown {
		float: right;
	}
	.dropbtn {
		width: 46px;
		height: 46px;
		background: url(../img/menu.png) no-repeat center;
		background-size: 70% auto;
		font-size: 17px;
		cursor: pointer;
	}
	/*为实现点击切换图标预留
	.dropbtn:hover {
		width: 40px;
		height: 46px;
		background: url(../img/2.png) no-repeat center;
		font-size: 16px;
		cursor: pointer;
	}
	*/
	.dropdown {
		position: relative;
	}
	/*
	菜单面板大小
	*/
	.dropdown-content { 
		min-width: 180px;
		overflow: auto;
		background-color: #ffffff; 
		box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
		border-radius: 0px 0px 0px 10px;
		z-index: 1;
		top: 46px;
		right: 0px;
		position: absolute;
		display: none;

	}
	.dropdown-content a {
		color: black;
		margin: 7px 0px;
		padding: 2px 10px;
		text-decoration: none;
		background: #F7F7F7;
		display: block;
	}
	.dropdown a:hover {
		background-color: #C1C1C1;
	}
	.show {
		display:block;
	}

	/*
	返回顶部按钮
	*/
	#myBtn {
		width: 32px;
		height: 37px;
		display: none;
		position: fixed;
		bottom: 73px;	
		right: 30px;
		z-index: 99;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 10px;
		border-radius: 50px;
		background: url(https://gitee.com/ZRX001/gallery/raw/master/gallery/back-top-hover.png) no-repeat;
	}

}