@charset "utf-8";
/* CSS Document */
.area {
	width: 320px;
	padding: 5px 0px 0px 0px;
	margin-top: 5px;
	margin-left: 10%;
	color: #ABAAAA;
	font-size: 14px;
	font-family: "SimSun";
	z-index: 2;
}
.area p {
	color: #ABAAAA;
	font-size: 14px;
	padding-bottom: 4px;
	font-family: "SimSun";
}
.travel-left {
	width: 100%;
	height: 34px;
	margin-bottom: 10px;
	display: inline-block;
}
.time {
	color: #8E8989;
}
hr {
	clear: both;
	margin: 15px 0;
	height: 0px;
	overflow: hidden;
	border: none;
	background: transparent;
	border-bottom: 4px solid #ddd;
	padding: 0;
}

/*
map
*/
@media screen and (min-width: 1700px) {
	
	.map {
		width: 50%;
		margin: 0px auto;
		display: block;
		margin-top: -20px;
		margin-bottom: 4%;
	}
	
}

@media screen and (max-width: 1699px) and (min-width: 1250px) {
	
	.map {
		width: 70%;
		margin: 0px auto;
		display: block;
		margin-top: -20px;
		margin-bottom: 4%;
	}
	
}

@media screen and (max-width: 1249px) and (min-width: 960px) {
	
	.map {
		width: 80%;
		margin: 0px auto;
		display: block;
		margin-top: -20px;
		margin-bottom: 4%;
	}
	
}

@media screen and (max-width: 959px)  {
	
	.map {
		width: 94%;
		margin: 0px auto;	
	}
	
}


/*--↓--首府（首都）以外首字母顺序进行排序--↓--*/
/*定义首都、省会的第一个字符样式*/
#provincial-capital img {
	width: 20px;
	height: 20px;
	position: relative;
	top: 4px;
	padding-right: 2px;
}
/*定义城市的div大小*/
a .cityDiv:hover {
	color: rgb(255,186,20);
	background: #36A3FF;
}
.cityDiv {
	height: 28px;
	line-height: 27px;
	text-align: center;
	padding: 1px 7px;
	border-radius: 5px;
	margin: 12px 0px 12px 12px;
	background: #72E500;
	float: left;
}










