/* 
兼容性自动生成
 */

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

input {
    outline: none;
    border: none;
}

a {
    color: black;
    position: relative;
}